.find_programs
{
  margin-bottom: 120px;
  background-color: #F4F4F4;

  @include media(lg)
  {
    margin-bottom: 40px;
  }

  &__inner
  {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    @include media(xl)
    {
      max-width: 800px;
    }

    @include media(lg)
    {
      margin-bottom: 40px;
      padding: 40px 0px;
      max-width: 100%;
    }
  }

  &__title
  {
    width: 100%;
    text-align: center;
  }

  &__text
  {
    margin-top: 24px;
    color: $black;
    font-family: $font-sans;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;

    @include media(lg)
    {
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
    }
  }

  &__form
  {
    margin-top: 32px;
    @include _flexbox;
    @include _align-items(center);
    @include _justify-content(center);
    @include _flex-wrap(wrap);
    width: 100%;
  }

  &__item
  {
    color: $white;
    font-family: $font-sans;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    margin-right: 8px;
    margin-top: 8px;
    cursor: pointer;
    @include _flexbox;
    @include _align-items(center);
    @include _justify-content(center);

    span
    {
      background-color: #004AEB;
      padding: 16px;
      border-radius: 24px;
      vertical-align: middle;
      line-height: 1;
      text-align: center;

      &:after
      {
        content: '';
        display: none;
        vertical-align: middle;
        background-image: url("../images/checked.svg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 13px;
        width: 18px;
        margin-left: 7px;
      }
    }

    input
    {
      opacity: 0;
      display: none;

      &:checked + span
      {
        background-color: #00226B;

        &:after
        {
          display: inline-block;
        }
      }
    }
  }

  &__submit
  {
    margin-top: 40px;
    width: 100%;
    @include _flexbox;
    @include _align-items(center);
    @include _justify-content(center);

    button
    {
      appearance: none;
      -webkit-appearance: none;
      line-height: 1;
      vertical-align: middle;
      transition: 0.3s ell ease-in;
    }
  }

  &__help
  {
    width: 100%;
    text-align: center;
    margin-top: 24px;
    color: $black;
    font-family: $font-sans;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;

    & a
    {
      color: $red;
      transition: 0.3s all ease-in;

      &:hover
      {
        color: #b03439;
      }
    }
  }
}
